.header {
   width: 100%;
   height: 10%;
   background-color: #E2D9DC;
}

.header-text {
}

.header h2 {
   color: #2D2D34;
   text-align: center;
   font-family: "Raleway:600", sans-serif;
   font-weight: 600;
}

.middle {
   width: 100%;
   height: 900px;
}

.middle-text {
   text-align: center;
}

.middle img {
   width: 50%;
   height: 50%;
   margin-left: 20%;
   margin-top: 10%;
}

.footer {
   width: 100%;
   height: 100%;
   background-color: #CEB1BE;
}

.footer h3 {
   color: #2D2D34;
   font-size: 20px;
   text-align: center;
}
